body {
    font-family: "Roboto", sans-serif;
    color: #434455 ;
    background-color: #FFFFFF;
   
}


ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1, h2, h3, p {
    margin: 0;
    
}

a {
    text-decoration: none;
}


.container-header {
  
    
    height: 72px;
    
    padding-top: 24px;
    
}
.title-section {
    background-color: #2e2f42;
     
     
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.page-title {
    font-size: 56px;
    font-weight: bold;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
     width: 496px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 188px;
   
}



.button {
    font-family: "Roboto",sans-serif;
    font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   font-weight: 500;
   background-color: #4D5AE5;
   color: white;
   cursor: pointer;
   width: 169px;
   height: 56px;
border-radius: 4px;
margin-left: auto;
margin-right: auto;
}



button:focus{
   background-color: #404BBF;
   color: white;
}

button:hover{
   background-color: #404BBF;
   color: white;
}

.section-title {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    
}

.section-content {
    font-size: 16;
    line-height: 1.5;
    color:  #434455; 
}

.title {
    font-size: 20px;
    font-weight: 500;
      line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42 ;
}

.menu-link {
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.5;
   

  
}



.list-menu {
    display: flex;
    gap: 18px;
    padding-left: 78px;
}



.menu-link:focus {
    color: #404bbf;
}

.menu-link:active {
    color: #4D5AE5;
}

.menu-link:hover {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts-list{
    display: flex;
    gap: 40px;
    margin-left: 200px;
    

}


.link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    

}

.link:focus {
    color: #404bbf;
}

.link:hover {
    color: #404bbf;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
    padding-left: 156px;


    
}

.navbar {
    display: flex;

   
}

.logostudio {
    
    color: #2E2F42;
}

.team-image {
    background-color: #FFFFFF;
    
}

.footer {
    background-color: #2e2f42;
}

.logo-studio-footer {
    color: #F4F4FD;
}

.footer-content {
    font-size: 16;
    line-height: 1.5;
    color:  #F4F4FD; 
}

.container {
    max-width: 1158px;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container-title {
    display: flex;
  gap: 48px;
    height: 600px;
    flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-rules {
    display: flex;
    
}

.list-rules {
    display: flex;
    align-items: center;
    width: 1128px;
    height: 104px;
    gap: 24px;
}

.list-rules li {
    width: calc((100% - 72px)/4);
}


.title-rules-list {
    font-size: 20px;
    font-weight: 500;
      line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42 ;
     margin-bottom: 8px;
}

.title-team{
    font-size: 20px;
    font-weight: 500;
      line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42 ;
     text-align: center;
     padding-top: 20px;

}

.section-content-team {
    font-size: 16;
    line-height: 1.5;
    color:  #434455; 
    text-align: center;
    padding-top: 10px;

}



.list-team {
    display: flex;
    gap: 32px;
    padding-top: 50px;
}

.list-team li {
    width: 260px;
    height: 380px;
}

.section-title-team{
font-size: 36px;
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    padding-left: auto;
    padding-right: auto;
    
    
}

.section-team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
    height: 732px;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}